
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/


### OTHER FILES AND FOLDERS ###
.idea
.php_cs_cache
.DS_store
.docker-compose.yml
